mat-card {
    border-radius: 10px;
    max-width: 400px;
}

mat-icon {
    margin-top: auto;
    margin-bottom: auto;
}

mat-card-actions {
    margin-top: auto;
    margin-bottom: auto;
}

.catmashVoteCard {
    padding-top: 50px;
}

.cat-card {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.buttons-row button,
.buttons-row a {
  margin-right: 15px;
}

.cat-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}