<div style="text-align:center" class="catmashCard">
  <mat-card class="cat-card" style="text-align:center">
      <img mat-card-image src="http://78.media.tumblr.com/tumblr_m82woaL5AD1rro1o5o1_1280.jpg" alt="Photo of a Shiba Inu">
      <div class="buttons-row">
      <mat-card-actions>        
          <button mat-icon-button>
              <mat-icon aria-label="Upvote Icon">arrow_upward</mat-icon>
          </button>
          <button mat-icon-button>
              <mat-icon aria-label="Upvote Icon">arrow_downward</mat-icon>
          </button>
      </mat-card-actions>
      </div>
    </mat-card>
  </div>