<div style="text-align:left" class="catmashNav">
    <ul>
        <img style = "vertical-align: middle; float: left" width="50" alt="Catmash Logo" src="https://image.flaticon.com/icons/svg/235/235349.svg">
        <h1>{{ title }}! </h1>
        <li><a routerLink="/cats" routerLinkActive="active">Cats</a></li>
        <li><a routerLink="/vote" routerLinkActive="active">Vote</a></li>
        <button mat-button (click)="openDialog()">Connexion</button>
      </ul>
</div>

<router-outlet></router-outlet>
